* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #e50914;
}

.navbar {
  background: var(--main-color) !important;
}

.navbar img {
  width: 50px;
}

.navbar a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

section input,
section textarea {
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-size: 20px;
}

section input:focus,
section textarea:focus {
  outline: none;
}
section button {
  border: none;
  border-radius: 25px;
  color: white;
  background: var(--main-color);
  padding: 8px 12px;
}

.bar {
  height: 5vh;
  background: var(--main-color);
  color: white;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5));

  margin-bottom: 20px;
}

.bar h6 {
  margin: auto;
}

.list-item {
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5));
  border: 1px solid red;
  margin-bottom: 20px;
}

.list-item div {
  padding: 10px;
  border-right: 1px solid var(--main-color);
  display: flex;
  align-items: center;
}

.list-item img {
  width: 100px;
}

.list ul {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0;
}

.unique {
  border: none !important;
}
