.rate-box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.rate-box input,
.rate-box textarea {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--color);
  outline: none;
  border-radius: 3px;
}
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rate-box input {
  margin-right: 10px;
}

.rate-box textarea {
  resize: vertical;
  padding: 8px;
}
.rate-box img {
  height: 380px;
  display: block;
  object-fit: cover;
  border-radius: 3px;
}

.popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 10px 45px 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 3px;
  box-shadow: 0 0 10px var(--color);
  z-index: 9999;
}

.countdownBar {
  width: 90%;
  height: 10px;
  background-color: #ccc;
  margin: 10px 0px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: 9998;
}

.countdownFill {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: var(--color);
}
