nav {
  background: black;
  z-index: 100;
}

.offcanvas {
  background: black !important;
  color: white !important;
}

.navbar img {
  width: 130px;
}

nav .navbar-toggler {
  border-color: white !important;
  color: white !important;
}

nav .link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

nav .link:hover {
  color: var(--color);
}

nav li {
  margin: 15px 0px;
}

nav button {
  background: none;
  border: none;
  outline: none;
  color: white !important;
  font-size: 20px;
}
nav svg {
  color: white;
}
